$font-path: '../../../../../dist/libs/skolverket/fonts/src/assets/fonts/' !default;

@import '../../../../../dist/libs/skolverket/fonts/src/fonts.scss';
@import '../../../../../dist/libs/skolverket/dist/digi-skolverket/digi-skolverket.css';

body {
	padding: 0;
	margin: 0;
}
