<digi-navigation-tabs [attr.af-aria-label]="'En tablist label'"
	><digi-navigation-tab-in-a-box
		[attr.af-aria-label]="'Flik 1'"
		[attr.af-id]="'flikb1'"
		><p>Jag är flik 1</p></digi-navigation-tab-in-a-box
	><digi-navigation-tab-in-a-box
		[attr.af-aria-label]="'Flik 2'"
		[attr.af-id]="'flikb2'"
		><p>Jag är flik 2</p></digi-navigation-tab-in-a-box
	><digi-navigation-tab-in-a-box
		[attr.af-aria-label]="'Flik 3'"
		[attr.af-id]="'flikb3'"
		><p>Jag är flik 3</p></digi-navigation-tab-in-a-box
	></digi-navigation-tabs
>
<digi-navigation-breadcrumbs
	><li><a href="dd">hej</a></li></digi-navigation-breadcrumbs
>
