// @use '../../../../../../../libs/skolverket/package/src/global/styles/grid';

:host {
	.digi-docs-component-api {
		// @include grid.gutterify(--digi-docs-component-api--content-spacing);

		// padding: calc(var(--digi-docs-component-api--content-spacing) * 3) 0;
		display: block;
	}

	digi-typography-heading-section {
		//margin-bottom: var(--digi-docs-component-api--content-spacing);
		display: block;
	}

	strong {
		display: block;
	}
}
