@use 'layout';
@use 'grid';
@use 'border';

:root {
	@include grid.gutterify(--digi--responsive-grid-gutter);
	@include grid.outer-gutterify(--digi--responsive-grid-gutter--outer);
	@include layout.container-widthify(--digi--responsive-container-width);

	--digi--focus-outline: #{border.$focus-outline};
}

// TODO: These are temporary overrides! Move over to real components when skv docs is ready
digi-typography {
	ul,
	ol,
	li {
		margin: revert;
		padding: revert;
		list-style: revert;
	}
}

digi-code {
	font-size: 0.9em;
}

digi-code-block,
digi-code-example {
	font-size: var(--digi--global--typography--font-size--smallest-2);
}
