@use '../../../global/styles/utilities' as *;
@use '../../../global/styles/styles-variables' as *;
@use './styles/header-navigation-item.variables' as *;

:host {
	@include header-navigation-item--variables;
	display: block;

	::slotted(a) {
		display: block;
		text-decoration: none;
		color: inherit;
		padding: $digi--padding--medium;
		color: var(--digi--header-navigation-item--color);
		font-family: var(--digi--header-navigation-item--font-family);
		font-size: var(--digi--header-navigation-item--font-size);
	}

	::slotted(a:hover),
	::slotted(a:active) {
		background-color: var(--digi--color--background--neutral-6);
		color: var(--digi--header-navigation-item--color-hover);
		text-decoration: underline;
	}

}
 
.digi-header-navigation-item--active::slotted(a) {
	font-weight: bold;
	box-shadow: inset 0 -4px 0 0 $digi--color--border--tertiary;
}