@use '../../global/styles-variables' as *;

:host {
	.wcag-list__reset-notification {
		margin-top: var(--digi--padding--medium);
		display: block;
	}

	.wcag-filters,
	.wcag-tags {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		margin-bottom: var(--digi--padding--large);
		gap: var(--digi--padding--smaller);

		@media screen and (min-width: $digi--breakpoint--medium) {
			flex-direction: row;
		}
	}

	.wcag-list-info {
		font-weight: var(--digi--typography--body--font-weight--desktop);
		padding-top: var(--digi--padding--medium);
		margin: 0;

		strong {
			font-weight: var(--digi--typography--description--font-weight--desktop);
		}
	}

	.wcag-list {
		overflow: auto;
		list-style: none;
		padding: 0;
		margin: 0;

		&-info__container {
			display: flex;
			gap: var(--digi--padding--largest-2);
			&--loading {
				height: 200vh;
			}
			@media screen and (max-width: $digi--breakpoint--large) {
				flex-direction: column;
				gap: 0;
			}
		}

		&-buttons {
			display: flex;
			align-items: center;
			padding-top: var(--digi--padding--medium);
			gap: var(--digi--margin--small);
		}
		max-width: 100%;
	}

	.wcag-item {
		background: var(--digi--color--background--primary);
		border-radius: var(--digi--border--radius--secondary);
		padding: var(--digi--padding--large);
		padding-bottom: 3rem;
		margin: var(--digi--padding--large) 0;

		&_header {
			display: flex;
			margin-bottom: var(--digi--padding--large);
			gap: var(--digi--padding--large);
			border-bottom: 1px solid rgb(235, 235, 235);

			@media screen and (max-width: $digi--breakpoint--medium) {
				flex-direction: column;
			}

			h3 {
				display: flex;
				align-items: center;
				font-weight: var(--digi--global--typography--font-weight--semibold);
				// justify-content: center;
			}

			&-id {
				padding: var(--digi--padding--small);
				background-color: var(--digi--global--color--profile--green--lightest);
				border-radius: 100%;
				width: 30px;
				height: 30px;
				margin-right: var(--digi--margin--medium);
				display: flex;
				justify-content: center;
				align-items: center;
			}

			&-title {
				display: flex;
			}
		}

		&_content {
			display: flex;
			gap: var(--digi--padding--large);

			@media screen and (max-width: $digi--breakpoint--medium) {
				flex-direction: column;
			}
		}

		&_column {
			width: 50%;

			@media screen and (max-width: $digi--breakpoint--medium) {
				width: 100%;
			}
		}
	}

	.wcag-item__heading {
		margin: 0;
		font-weight: var(--digi--global--typography--font-weight--semibold);
	}

	.wcag-item__meta {
		margin-bottom: var(--digi--padding--medium);
		font-weight: var(--digi--global--typography--font-weight--semibold);
	}

	.wcag-item__category,
	.wcag-item__level,
	.wcag-item__role {
		display: inline-flex;
		border-radius: var(--digi--border-radius--secondary);
		color: var(--digi--color--text--primary);
		background: var(--digi--color--background--neutral-7);
		padding: var(--digi--gutter--smaller) var(--digi--gutter--medium);
	}

	.wcag-item__categories {
		@media screen and (min-width: $digi--breakpoint--medium) {
			display: flex;
			gap: var(--digi--padding--large);
			// display: grid;
			// grid-gap: var(--digi--padding--smaller);
			// grid-template-columns: repeat(3, minmax(100px, 1fr));
			// grid-template-columns: repeat(3,  1fr);
		}

		p:last-child {
			margin-bottom: var(--digi--margin--large);
		}

		strong {
			display: block;
		}
	}

	.wcag-item__principles {
		// margin-bottom: var(--digi--margin--large);

		@media screen and (max-width: $digi--breakpoint--medium) {
			display: flex;
			flex-wrap: wrap;
			gap: var(--digi--margin--large);
			// display: grid;
			// grid-gap: var(--digi--padding--smaller);
			// grid-template-columns: repeat(3, minmax(1fr));
		}

		p {
			@media screen and (max-width: $digi--breakpoint--medium) {
				margin: 0;
				// margin-bottom: var(--digi--margin--small);
			}
		}

		strong {
			display: block;
		}
	}
	.wcag-item__option-select {
		@media screen and (min-width: $digi--breakpoint--small) {
			max-width: 200px;
		}
	}

	.wcag-item__form-comment_form {
		padding-top: 1rem;
		@media screen and (min-width: $digi--breakpoint--small) {
			max-width: 500px;
		}
	}
	.wcag-no-hits {
		margin-top: var(--digi--padding--large);
		padding-top: var(--digi--padding--medium);
		padding-bottom: var(--digi--padding--large);

		&__heading {
			margin-top: 0px;
		}
	}
}
