@use 'styles/button.variables' as *;
@use 'styles/button.variations' as variations;

:host {
	@include digi-button--variables;

	.digi-button {
		/* Variations and sizes */
		&--variation-primary {
			@include variations.primary;
		}

		&--variation-secondary {
			@include variations.secondary;
		}

		&--variation-function {
			@include variations.function;
		}

		&--size-small {
			@include variations.small;
		}

		&--size-medium {
			@include variations.medium;
		}

		&--size-large {
			@include variations.large;
		}

		::slotted([slot^='icon']) {
			--digi--icon--height: 1em;
			--digi--icon--width: 1em;
			--digi--icon--color: var(--COLOR--ICON--DEFAULT);
			min-height:0;
		}

		/* Attributes */
		font-family: var(--digi--button--font-family);
		background: var(--COLOR--BACKGROUND--DEFAULT);
		color: var(--COLOR--TEXT--DEFAULT);
		padding: var(--PADDING);
		border-radius: var(--BORDER-RADIUS--DEFAULT);
		border-width: var(--BORDER-WIDTH--DEFAULT);
		border-style: var(--BORDER-STYLE--DEFAULT);
		border-color: var(--COLOR--BORDER--DEFAULT);
		font-weight: var(--FONT-WEIGHT);
		font-size: var(--FONT-SIZE);
		outline: var(--digi--button--outline--default);
		text-align: var(--digi--button--text-align--default);
		width: var(--digi--button--width);
		display: var(--digi--button--display);
		justify-content: var(--digi--button--justify-content--default);
		cursor: var(--digi--button--cursor);
		min-height: var(--MIN-HEIGHT);
		align-items: var(--digi--button--align-items);

		&:hover {
			background: var(--COLOR--BACKGROUND--HOVER);
			border-radius: var(--BORDER-RADIUS--HOVER);
			border-width: var(--BORDER-WIDTH--HOVER);
			border-style: var(--BORDER-STYLE--HOVER);
			border-color: var(--COLOR--BORDER--HOVER);
			color: var(--COLOR--TEXT--HOVER);

			::slotted([slot^='icon']) {
				--digi--icon--color: var(--COLOR--ICON--HOVER);
			}
		}

		&:focus-visible {
			background: var(--COLOR--BACKGROUND--FOCUS);
			border-style: var(--BORDER-STYLE--FOCUS);
			border-color: var(--COLOR--BORDER--FOCUS);
			color: var(--COLOR--TEXT--FOCUS);
			outline: var(--digi--button--outline--focus);

			::slotted([slot^='icon']) {
				--digi--icon--color: var(--COLOR--ICON--FOCUS);
			}
		}

		&:active {
			background: var(--COLOR--BACKGROUND--ACTIVE);
			color: var(--COLOR--TEXT--ACTIVE);

      ::slotted([slot^='icon']) {
				--digi--icon--color: var(--COLOR--ICON--ACTIVE);
			}
		}

		&--icon,
		&--icon-secondary {
			--digi--button--display: flex;

			align-items: center;
			justify-content: var(--digi--button--justify-content--default);
			gap: var(--digi--button--icon--spacing);
		}

		&--full-width {
			@include variations.full-width;
		}
	}
}
