@use '../../../global/styles/breakpoint';

.digi-logo-sister {
	display: inline-flex;
	align-items: center;
	gap: var(--digi--gutter--icon);
}

.digi-logo-sister__svg {
	color: var(--digi--global--color--profile--purple--base);
	height: var(--digi--global--spacing--large);
	width: var(--digi--global--spacing--large);
	flex-shrink: 0;
}

.digi-logo-sister__name {
	font-family: var(--digi--global--typography--font-family--default);
	font-weight: var(--digi--global--typography--font-weight--semibold);
	font-size: calc(var(--digi--global--typography--font-size--smallest) * 2);
	color: var(--digi--color--text--primary);
	letter-spacing: -0.64;

	@include breakpoint.medium {
		font-size: calc(var(--digi--global--typography--font-size--smaller) * 2);
	}
}
