hr {
    margin: var(--digi--padding--medium) 0;
}

.form-values {
    position: fixed;
    right: var(--digi--padding--large);
    bottom: var(--digi--padding--large);
    background: var(--digi--color--background--primary);
    padding: var(--digi--padding--medium);
    z-index: 1;
    box-shadow: 0 0 4px 0 rgba(black, .15);
}

.error-list {
    margin: var(--digi--margin--large) 0;
}

.my-form {
    margin-top: var(--digi--margin--large);
    max-width: var(--digi--container-width--base);

    > * {
        display: block;
        margin-bottom: var(--digi--margin--largest);
    }

    .form-radiobutton,
    .form-checkbox {
        display: block;
        margin-top: var(--digi--padding--small);
        margin-bottom: var(--digi--padding--small);
    }

    .skill-form-row {
        display: grid;
        column-gap: var(--digi--margin--small);
        grid-template-columns: 50% 1fr auto;
        align-items: flex-end;
    }

    .submit-wrapper {
        margin-top: var(--digi--margin--larger);
    }
}