<digi-typography-heading-jumbo af-text="Angular testmiljö"></digi-typography-heading-jumbo>

<digi-typography-preamble>
    Den här miljön är till för att testa våra komponenter i Angular.
</digi-typography-preamble>

<ul>
  <li><digi-link-internal [routerLink]="['form']">Formulär</digi-link-internal></li>
  <li><digi-link-internal [routerLink]="['navigation']">Navigation</digi-link-internal></li>
  <li><digi-link-internal [routerLink]="['article']">Artikelsida</digi-link-internal></li>
  <li><digi-link-internal [routerLink]="['steps']">Steps</digi-link-internal></li>
  <li><digi-link-internal [routerLink]="['timepicker']">Tidsväljaren</digi-link-internal></li>
  <li><digi-link-internal [routerLink]="['grid']">Grid</digi-link-internal></li>
  <li><digi-link-internal [routerLink]="['fileupload']">Filuppladdaren</digi-link-internal></li>
  <li><digi-link-internal [routerLink]="['calendar']">Kalender</digi-link-internal></li>
  <li><digi-link-internal [routerLink]="['links']">Länkar</digi-link-internal></li>
  <li><digi-link-internal [routerLink]="['languagepicker']">Språkväljare (context-menu)</digi-link-internal></li>
  <li><digi-link-internal [routerLink]="['tools-languagepicker']">Språkväljare (tools)</digi-link-internal></li>
  <li><digi-link-internal [routerLink]="['navigationtabs']">Flikar</digi-link-internal></li>
  <li><digi-link-internal [routerLink]="['receipt']">Kvittens</digi-link-internal></li>
  <li><digi-link-internal [routerLink]="['validering']">Validerings-komponenterna</digi-link-internal></li>
  <li><digi-link-internal [routerLink]="['link-buttons']">Länk-knapparna</digi-link-internal></li>
  <li><digi-link-internal [routerLink]="['charts']">Data-visualisering</digi-link-internal></li>
  <li><digi-link-internal [routerLink]="['datepicker']">Datepicker</digi-link-internal></li>
  <li><digi-link-internal [routerLink]="['wheel-of-fortune']">Lyckohjulet</digi-link-internal></li>
  <li><digi-link-internal [routerLink]="['multifilter-poc']">Multifilter PoC</digi-link-internal></li>
  <li><digi-link-internal [routerLink]="['test-form-select']">Select-komponenten</digi-link-internal></li>
  <li><digi-link-internal [routerLink]="['nya-ikoner']">Nya ikoner</digi-link-internal></li>
</ul>
