@mixin digi-dialog--variables {
	--digi--dialog--backdrop--position: fixed;
	--digi--dialog--backdrop--opacity: 1;
	--digi--dialog--backdrop--z--index: 999;
	--digi--dialog--backdrop--left: 0;
	--digi--dialog--backdrop--top: 0;
	--digi--dialog--backdrop--width: 100vw;
	--digi--dialog--backdrop--height: 100vh;
	--digi--dialog--backdrop--background--color: rgba(0, 0, 0, 0.7);
	--digi--dialog--backdrop--display: flex;
	--digi--dialog--backdrop--justify--content: center;
	--digi--dialog--backdrop--align--items: center;

	--digi--dialog--close--button--display: grid;
	--digi--dialog--close--button--justify--content: end;
	--digi--dialog--close--button--margin--right: -1rem;

	--digi--dialog--button--container--display: flex;
	--digi--dialog--button--container--flex-wrap: wrap;
	--digi--dialog--button--container--gap: var(--digi--gutter--large);
	--digi--dialog--button--container--padding--top: var(--digi--gutter--largest-2);
	--digi--dialog--button--text--align--mobile: center;

	--digi--dialog--content--gutter: var(--digi--gutter--largest);
	--digi--dialog--content--margin: var(--digi--margin--large) auto;
	--digi--dialog--content--padding: var(--digi--padding--large);

	--digi--dialog--content--width--small: 28.75rem;
	--digi--dialog--content--width--medium: 42.1875rem;
	--digi--dialog--content--width--large: 56.25rem;

	--digi--dialog--content--color--primary: var(--digi--color--text--primary);
	--digi--dialog--content--color--background--primary: var(--digi--global--color--profile--white--base);

	--digi--dialog--icon--color--primary: var(--digi--color--icons--primary);
	--digi--dialog--icon--color--primary--hover: var(--digi--color--icons--primary);
}

/** Do not touch! Autogenerated 
* @prop --digi--dialog--backdrop--position: fixed;
* @prop --digi--dialog--backdrop--opacity: 1;
* @prop --digi--dialog--backdrop--z--index: 999;
* @prop --digi--dialog--backdrop--left: 0;
* @prop --digi--dialog--backdrop--top: 0;
* @prop --digi--dialog--backdrop--width: 100vw;
* @prop --digi--dialog--backdrop--height: 100vh;
* @prop --digi--dialog--backdrop--background--color: rgba(0, 0, 0, 0.7);
* @prop --digi--dialog--backdrop--display: flex;
* @prop --digi--dialog--backdrop--justify--content: center;
* @prop --digi--dialog--backdrop--align--items: center;
* @prop --digi--dialog--close--button--display: grid;
* @prop --digi--dialog--close--button--justify--content: end;
* @prop --digi--dialog--close--button--margin--right: -1rem;
* @prop --digi--dialog--button--container--display: flex;
* @prop --digi--dialog--button--container--flex-wrap: wrap;
* @prop --digi--dialog--button--container--gap: var(--digi--gutter--large);
* @prop --digi--dialog--button--container--padding--top: var(--digi--gutter--largest-2);
* @prop --digi--dialog--button--text--align--mobile: center;
* @prop --digi--dialog--content--gutter: var(--digi--gutter--largest);
* @prop --digi--dialog--content--margin: var(--digi--margin--large) auto;
* @prop --digi--dialog--content--padding: var(--digi--padding--large);
* @prop --digi--dialog--content--width--small: 28.75rem;
* @prop --digi--dialog--content--width--medium: 42.1875rem;
* @prop --digi--dialog--content--width--large: 56.25rem;
* @prop --digi--dialog--content--color--primary: var(--digi--color--text--primary);
* @prop --digi--dialog--content--color--background--primary: var(--digi--global--color--profile--white--base);
* @prop --digi--dialog--icon--color--primary: var(--digi--color--icons--primary);
* @prop --digi--dialog--icon--color--primary--hover: var(--digi--color--icons--primary);
*/