@use '../../../global/styles/typography';
@use '../../../global/styles/link';
@use '../../../global/styles/border';
@use '../../../global/styles/breakpoint';
@use './styles/notification-detail.variables' as *;
@use './styles/notification-detail.variations' as variations;

:host {
	@include digi-notification-detail--variables;

	::slotted([slot^='heading']) {
		@include typography.heading(4);
	}
}

.digi-notification-detail {
	border-inline-start: border.$box;
	border-inline-start-color: var(--BORDER-COLOR);
	background: var(--digi--color--background--notification-info);

	&--variation-info {
		@include variations.variation-info;
	}

	&--variation-danger {
		@include variations.variation-danger;
	}

	&--variation-warning {
		@include variations.variation-warning;
	}
}

.digi-notification-detail__inner {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-areas: 'icon content';
	gap: calc(var(--digi--gutter--icon) * 2);
	padding: var(--digi--gutter--medium) var(--digi--gutter--larger);
	padding-inline-end: calc(var(--digi--gutter--larger) * 2);

	@include breakpoint.below-medium {
		justify-content: space-between;
		align-items: center;
	}
}

.digi-notification-detail__icon {
	grid-area: icon;

	digi-icon {
		--digi--icon--color: var(--ICON-COLOR);
		--digi--icon--width: 32px;
		--digi--icon--height: 32px;
	}
}

.digi-notification-detail__content {
	grid-area: content;
}

.digi-notification-detail__text {
	--digi--typography--body--font-size--desktop: var(--digi--global--typography--font-size--smaller);
	--digi--typography--body--font-size--mobile: var(--digi--global--typography--font-size--smaller);
	--digi--typography--body--line-height--desktop: var(--digi--global--typography--line-height--smaller);
	--digi--typography--body--line-height--mobile: var(--digi--global--typography--line-height--smaller);
}
