@use '../../../global/styles/styles-variables' as *;
@use '../../../global/styles/utilities' as *;

:host {
	$base: '.digi-tools-feedback-rating';

	#{$base} {

		background-color: var(--digi--color--background--neutral-5);

		&--fullwidth {
			padding-inline: var(--digi--padding--medium);

			@media (max-width: $digi--breakpoint--small) {
				padding-inline: var(--digi--padding--medium);
			}
		}

		&__wrapper {
			padding: var(--digi--padding--medium) var(--digi--padding--medium) var(--digi--padding--large);

			@media (min-width: $digi--breakpoint--small) {
				padding: var(--digi--padding--medium) var(--digi--padding--medium);
			}

			@media (min-width: $digi--breakpoint--large) {
				padding: var(--digi--padding--largest) var(--digi--padding--medium) var(--digi--padding--smaller);
			}
		}

		&__step1-wrapper {
			display: block;
			align-items: center;

			@media (min-width: $digi--breakpoint--small) {
				margin-top: 0;
			}
		}

		&__heading {

			margin-right: 56px;

			@media (min-width: $digi--breakpoint--medium) {
				max-width: #{rem(398)};
				margin: 0;
				margin-right: #{rem(56)};
			}
		}

		&__fieldset {
			max-width: inherit;
			border: none !important;
			margin: 0;
			padding: 0;
		}

		&__star-rating {
			padding: 0;
			display: inline-flex;
			flex-wrap: wrap;

			legend {
				padding-left: 0;
			}

			&-stars {
				display: inline-flex;
				flex-wrap: wrap;
				max-width: #{rem(226)};
				max-height: #{rem(80)};
				// padding-bottom: #{rem(2)};
				margin-inline-end: #{rem(10)};
			}

			&-star {
				label {
					cursor: pointer;
					height: var(--digi--padding--larger);
					padding: var(--digi--gutter--smallest-3);
					margin-bottom: #{rem(2)};
					display: block;
					position: relative;
					margin-inline-end: #{rem(14)};
					height: #{rem(30)};
				}

		
				input {
					position: absolute;
					opacity: 0;
				}

				input:active+label #{$base}-star-icon {
					transform: scale(1.05);
				}

				input:focus-visible+label {
					border-radius: var(--digi--border-radius--secondary);
					outline-style: solid;
					outline-color: #000;
					outline-width: #{rem(2)};
				}

				// input:focus-visible:not(:focus)+label {
				// 	outline: none;
				// }


				input:checked+.digi-tools-feedback-rating-star-icon.filled,
				.digi-tools-feedback-rating-star-icon.filled {
					fill: #cadda4;
				}
			}

			&-star-screenreader-text {
				@include digi--a11y--sr-only;
			}

			.digi-tools-feedback-rating__star-rating-star-text {
				display: flex;
				flex-basis: 100%;
				height: #{rem(20)};
				padding-left: var(--digi--gutter--smallest-3);
				font-size: 1rem;
				font-weight: var(--digi--typography--heading-3--font-weight--desktop);
			}
		}

		&__button-wrapper {
			display: inline-block;
			position: relative;
			top: -8px;

			padding-top: var(--digi--padding--small);

			@media (max-width: $digi--breakpoint--small) {
				margin: 0.5rem;
				margin-left: 0;
			}
		}

		&-star-icon {
			fill: none;
		}

		&__thankyou {
			display: flex;
			margin-top: #{rem(14)}
		}

		&__thankyou-check-icon {
			padding-right: var(--digi--padding--smaller);
		}

		&__thankyou-text {
			font-size: var(--digi--typography--heading-3--font-size--desktop);
			font-weight: var(--digi--typography--heading-3--font-weight--desktop);
		}

		&__link {
			margin-top: var(--digi--padding--small);
		}

		&__secondary {
			position: absolute;
			// top: #{rem(11)};
			// left: #{rem(16.5)};
			top: #{rem(5.5)};
			left: #{rem(11)};
			z-index: 99;
			font-size: #{rem(14)};
			font-weight: var(--digi--typography--heading-3--font-weight--desktop);
		}
	}
}