@use '../../../global/styles/styles-variables' as *;
@use './styles/typography.variables' as *;
@use './styles/typography.variations' as variations;

digi-typography {
	@include digi-typography--variables;

	font-family: var(--digi--global--typography--font-family--default);
	color: var(--digi--typography--color--text);

	@include variations.small;

	@media (min-width: $digi--breakpoint--large) {
		@include variations.medium;
	}

	.digi-typography--large {
		@include variations.medium;

		@media (min-width: $digi--breakpoint--large) {
			@include variations.large;
		}
	}

	font-size: var(--FONT-SIZE--BODY);
	line-height: var(--LINE-HEIGHT--BODY);
	font-weight: var(--FONT-WEIGHT--BODY);
	text-decoration: var(--TEXT-DECORATION--BODY);
	h1,h2,h3,h4,h5,h6{ margin-top:0; /* reset */}
	h1 {
		font-size: var(--FONT-SIZE--HEADING-1);
		line-height: var(--LINE-HEIGHT--HEADING-1);
		font-weight: var(--FONT-WEIGHT--HEADING-1);
		text-decoration: var(--TEXT-DECORATION--HEADING-1);
		margin-bottom: var(--MARGIN--HEADING-1);
	}

	h2 {
		font-size: var(--FONT-SIZE--HEADING-2);
		line-height: var(--LINE-HEIGHT--HEADING-2);
		font-weight: var(--FONT-WEIGHT--HEADING-2);
		text-decoration: var(--TEXT-DECORATION--HEADING-2);

		margin-bottom: var(--MARGIN--HEADING-2);
	}

	h3 {
		font-size: var(--FONT-SIZE--HEADING-3);
		line-height: var(--LINE-HEIGHT--HEADING-3);
		font-weight: var(--FONT-WEIGHT--HEADING-3);
		text-decoration: var(--TEXT-DECORATION--HEADING-3);

		margin-bottom: var(--MARGIN--HEADING-3);
	}

	h4 {
		font-size: var(--FONT-SIZE--HEADING-4);
		line-height: var(--LINE-HEIGHT--HEADING-4);
		font-weight: var(--FONT-WEIGHT--HEADING-4);
		text-decoration: var(--TEXT-DECORATION--HEADING-4);

		margin-bottom: var(--MARGIN--HEADING-4);
	}

	h5 {
		font-size: var(--FONT-SIZE--HEADING-5);
		line-height: var(--LINE-HEIGHT--HEADING-5);
		font-weight: var(--FONT-WEIGHT--HEADING-5);
		text-decoration: var(--TEXT-DECORATION--HEADING-5);

		margin-bottom: var(--MARGIN--HEADING-5);
	}

	h6 {
		font-size: var(--FONT-SIZE--HEADING-6);
		line-height: var(--LINE-HEIGHT--HEADING-6);
		font-weight: var(--FONT-WEIGHT--HEADING-6);
		text-decoration: var(--TEXT-DECORATION--HEADING-6);

		margin-bottom: var(--MARGIN--HEADING-6);
	}

	p,blockquote {
		font-size: var(--FONT-SIZE--BODY);
		line-height: var(--LINE-HEIGHT--BODY);
		font-weight: var(--FONT-WEIGHT--BODY);
		text-decoration: var(--TEXT-DECORATION--BODY);
		margin-top: initial;
		margin-bottom: var(--MARGIN--BODY);
		max-width: var(--digi--paragraph-width--medium);

		&:last-child {
			margin-bottom: 0;
		}
	}
	blockquote{
		margin-inline: 0;
	}

	digi-typography-preamble {
		display: block;
		margin-bottom: var(--MARGIN--BODY);

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul,
	ol,
	dl {
		font-size: var(--FONT-SIZE--BODY);
		line-height: var(--LINE-HEIGHT--BODY);
		font-weight: var(--FONT-WEIGHT--BODY);
		text-decoration: var(--TEXT-DECORATION--BODY);
		max-width: var(--digi--paragraph-width--medium);
		margin-bottom: var(--MARGIN--BODY);

		&:last-child {
			margin-bottom: 0;
		}
	}

	a {
		font-size: 1em;
		line-height: var(--LINE-HEIGHT--LINK);
		font-weight: var(--FONT-WEIGHT--LINK);
		text-decoration: var(--TEXT-DECORATION--LINK);

		color: var(--digi--color--text--link-secondary, var(--digi--color--text--link));

		&:hover,
		&:focus {
			color: var(--digi--color--text--link-secondary-hover, var(--digi--color--text--link-hover));
		}

		&:focus {
			outline: var(--digi--border-width--secondary) solid currentColor;
		}

		&:visited {
			color: var(--digi--color--text--link-secondary-visited, var(--digi--color--text--link-visited));
		}
	}

	strong {
		font-weight: var(--digi--typography--label--font-weight--desktop);
	}
}
