@use '../../../global/styles/breakpoint';
@use '../../../global/styles/border';
@use '../../../global/styles/link';

:host {
	--digi--card-link--padding: var(--digi--padding--largest);

	display: grid;

	::slotted([slot^='link-heading']) {
		display: flex;
		margin-block-end: 0.5rem;

		a {
			@include link.card;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: var(--digi--border-radius--primary);
			}

			&:focus-visible {
				outline: none;

				&::before {
					content: '';
					outline: var(--digi--focus-outline);
				}
			}

			svg {
				width: 1.3em;
				height: 1.3em;
			}
		}
	}

	::slotted(img[slot^='image']) {
		display: block;
		width: 100%;
		height: auto;
	}

	.digi-card-link {
		display: grid;
		grid-template-rows: auto 1fr;
		position: relative;
		border-radius: var(--digi--border-radius--primary);
		background: var(--digi--color--background--primary);
	}

	.digi-card-link__image {
		border-radius: var(--digi--border-radius--primary) var(--digi--border-radius--primary) 0 0;
		overflow: hidden;
		aspect-ratio: 16 / 9;
		background-color: var(--digi--color--background--tertiary);
	}

	.digi-card-link__text {
		position: relative;
	}
}

.digi-card-link__content {
	display: flex;
	padding: var(--digi--card-link--padding);
	border: border.$card;

	border-radius: 0 0 var(--digi--border-radius--primary) var(--digi--border-radius--primary);

	.digi-card-link--image-false & {
		border-radius: var(--digi--border-radius--primary);
		grid-row: 1/3;
	}

	.digi-card-link--image-true & {
		border-block-start: none;
	}
}
