@use '../../../global/styles/breakpoint';

:host {
	--digi--layout-page-block-sidebar--sidebar-columns: 4;

	@include breakpoint.medium {
		--digi--layout-page-block-sidebar--sidebar-columns: 4;
	}

	@include breakpoint.large {
		--digi--layout-page-block-sidebar--sidebar-columns: 5;
	}
}

.digi-page-block-sidebar {
	display: block;
	background: var(--digi--layout-page-block-sidebar--background, transparent);
	padding: var(--digi--responsive-grid-gutter) 0;

	&--variation-start,
	&--variation-sub {
		--digi--layout-page-block-sidebar--background: var(--digi--global--color--profile--apricot--opacity50);
	}

	&--variation-section {
		--digi--layout-page-block-sidebar--background: var(--digi--color--background--primary);
	}
}

.digi-page-block-sidebar__sidebar {
	grid-column: 1 / -1;

	@include breakpoint.medium {
		grid-column: 1 / var(--digi--layout-page-block-sidebar--sidebar-columns);
	}
}

.digi-page-block-sidebar__content {
	grid-column: 1 / -1;
	grid-row: 2;

	@include breakpoint.medium {
		grid-row: 1;
		grid-column: var(--digi--layout-page-block-sidebar--sidebar-columns) / calc(var(--digi--layout-grid--columns) + 1);
	}
}
