@use '../../../global/styles-variables' as *;

.digi-subheading{
    font-size: var(--digi--typography--heading-2--font-size--desktop);
    margin-top: var(--digi--margin--smaller);
    font-weight: var(--digi--typography--heading-2--font-weight--desktop);

    @media (min-width: $digi--breakpoint--large) {
        font-size: var(--digi--typography--heading-1--font-size--desktop);
        margin-top: var(--digi--margin--small);
      }
}
.digi-subheading:last-child {

    margin-bottom: var(--digi--margin--medium);

    @media (min-width: $digi--breakpoint--large) {
        margin-bottom: var(--digi--margin--small);
      }
    }
h1{
    margin-bottom: var(--digi--margin--smaller);
    color: var(--digi--color--text--secondary);

}